adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.6.0-cp37-abi3-linux_x86_64.whl
airdrop-ng==1.1
airgraph-ng==1.1
anki==2.1.54
anytree==2.8.0
apipkg==3.0.1
apparmor==3.1.1
appdirs==1.4.4
application-utility==1.3.2
aqt==2.1.54
argh==0.26.2
args==0.1.0
arrow==1.2.3
attrs==22.1.0
autocommand==2.2.1
beautifulsoup4==4.11.1
btrfsutil==5.19.1
CacheControl==0.12.11
cachy==0.3.0
catfish==4.16.4
certifi==2022.9.24
cffi==1.15.1
chardet==5.0.0
cleo==1.0.0a5
click==8.1.3
clint==0.5.1
colorama==0.4.5
commonmark==0.9.1
crashtest==0.4.0
cryptography==38.0.1
cssselect==1.1.0
Cython==0.29.32
dacite==1.6.0
decorator==5.1.1
distlib==0.3.6
distro==1.7.0
docopt==0.6.2
docutils==0.19
dulwich==0.20.46
entrypoints==0.4
evdev==1.6.0
feedparser==6.0.10
filelock==3.8.0
flake8==5.0.4
Flask==2.2.2
Flask-Cors==3.0.10
future==0.18.2
gpg==1.18.0
gufw==22.4.0
html5lib==1.1
idna==3.4
importlib-metadata==4.9.0
inflect==6.0.0
iniconfig==1.1.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.text==3.9.1
jeepney==0.8.0
Jinja2==3.1.2
jsoneditor==1.5.1
jsonschema==4.16.0
keyring==23.9.3
keyutils==0.6
lark==1.1.2
lensfun==0.3.3
LibAppArmor==3.1.1
libtorrent==2.0.7
lightdm-gtk-greeter-settings==1.2.2
listparser==0.19
lit==14.0.6.dev0
lockfile==0.12.2
lxml==4.9.1
Mako==1.2.3
manjaro-sdk==0.1
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
menulibre==2.2.3
more-itertools==8.13.0
msgpack==1.0.4
mugshot==0.4.3
mutagen==1.45.1
netifaces==0.11.0
netsnmp-python==1.0a1
npyscreen==4.10.5
nspektr==0.4.0
ordered-set==4.1.0
orjson==3.8.0
packaging==21.3
pacman-mirrors==4.23.2
pathtools==0.1.2
pathvalidate==2.5.2
pep517==0.13.0
pexpect==4.8.0
pikaur==1.12
Pillow==9.2.0
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
poetry==1.2.1
poetry-core==1.2.0
poetry-plugin-export==1.0.7
protobuf==4.21.7
psutil==5.9.2
ptyprocess==0.7.0
pwquality==1.4.4
py==1.11.0
pyalpm==0.10.6
PyAudio==0.2.12
pycairo==1.21.0
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.10.2
pyflakes==2.5.0
Pygments==2.13.0
PyGObject==3.42.2
pylev==1.4.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQtWebEngine==5.15.6
pyroute2==0.7.3
pyrsistent==0.19.0
pyshark==0.5.3
PySide6==6.3.2
pysmbc==1.0.23
PySocks==1.7.1
pytest==7.1.3
pytest-flake8==1.1.1
python-dateutil==2.8.2
python-xlib==0.31
pytz==2022.1
pyudev==0.24.0
pyxdg==0.28
PyYAML==6.0
qutebrowser==2.5.2
ranger-fm==1.9.3
readability-lxml==0.8.1
reportlab==3.6.11
requests==2.28.1
requests-toolbelt==0.9.1
resolvelib==0.8.1
rich @ file:///build/python-rich/src/rich-12.6.0/dist/rich-12.6.0-py3-none-any.whl
scdl==2.7.3
SecretStorage==3.3.3
Send2Trash==1.8.0
sgmllib3k==1.0.0
shellingham==1.5.0
shiboken6==6.3.2
six==1.16.0
solaar==1.1.5
soundcloud-v2==1.3.1
soupsieve==2.3.2.post1
systemd-python==235
team==1.0
tenacity==8.1.0
termcolor==2.0.1
tomli==2.0.1
tomlkit==0.11.4
topydo==0.14
torbrowser-launcher==0.3.5
trove-classifiers==2022.9.26
typing_extensions==4.3.0
udiskie==2.4.2
ueberzug==18.1.9
ufw==0.36.1
urllib3==1.26.12
urwid==2.1.2
validate-pyproject==0.10.1
virtualenv==20.16.0
waitress==2.1.2
watchdog==2.0.2
webencodings==0.5.1
Werkzeug==2.2.2
youtube-dl==2021.12.17
zipp==3.8.1
